[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=1.1"
python-dotenv = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
wtforms = "*"
flask-wtf = "*"
flask-login = "*"
alembic = "*"
flask-migrate = "*"
jinja2 = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
rope = "*"

[requires]
python_version = "3.8"
